Repository rh-gitops-midstream/catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Path conditions:
  catalog-4-14-on-push: ((((any of: catalog/v4.14/***) or (any of: .tekton/catalog-4-14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-16-on-push: ((((any of: catalog/v4.16/***) or (any of: .tekton/catalog-4-16-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-18-on-push: ((((any of: catalog/v4.18/***) or (any of: .tekton/catalog-4-18-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-20-on-pull-request: ((((any of: catalog/v4.20/***) or (any of: .tekton/catalog-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)

Fix tekton pipeline validation
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Add json catalog template
  catalog/v4.20/catalog-template.json
Due: catalog-4-20-on-pull-request

Update task bundle
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Try skiping tls
  .tekton/catalog-4-20-pull-request.yaml
Due: catalog-4-20-on-pull-request

Use yaml template
  .tekton/catalog-4-20-pull-request.yaml
  catalog/v4.20/catalog-template.json
Due: catalog-4-20-on-pull-request

Use correct var for update pullspec env
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Fix conversion issue due to extra files
  .gitignore
  catalog/v4.20/README.md
  catalog/v4.20/openshift-gitops-operator/.gitignore
Due: catalog-4-20-on-pull-request

Update configs
  .tekton/catalog-4-12-pull-request.yaml
  .tekton/catalog-4-12-push.yaml
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-13-push.yaml
  .tekton/catalog-4-14-pull-request.yaml
  .tekton/catalog-4-14-push.yaml
  .tekton/catalog-4-15-pull-request.yaml
  .tekton/catalog-4-15-push.yaml
  .tekton/catalog-4-16-pull-request.yaml
  .tekton/catalog-4-16-push.yaml
  .tekton/catalog-4-17-pull-request.yaml
  .tekton/catalog-4-17-push.yaml
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-18-push.yaml
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-19-push.yaml
  .tekton/catalog-4-20-pull-request.yaml
  .tekton/catalog-4-20-push.yaml
  .tekton/catalog-4-21-pull-request.yaml
  .tekton/catalog-4-21-push.yaml
  .tekton/multi-platform-fbc-image-build.yaml
  catalog/v4.12/README.md
  catalog/v4.12/openshift-gitops-operator/.gitignore
  catalog/v4.13/README.md
  catalog/v4.13/openshift-gitops-operator/.gitignore
  catalog/v4.14/README.md
  catalog/v4.14/openshift-gitops-operator/.gitignore
  catalog/v4.15/README.md
  catalog/v4.15/openshift-gitops-operator/.gitignore
  catalog/v4.16/README.md
  catalog/v4.16/openshift-gitops-operator/.gitignore
  catalog/v4.17/README.md
  catalog/v4.17/openshift-gitops-operator/.gitignore
  catalog/v4.18/README.md
  catalog/v4.18/openshift-gitops-operator/.gitignore
  catalog/v4.19/README.md
  catalog/v4.19/openshift-gitops-operator/.gitignore
  catalog/v4.21/README.md
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

feat: Use konflux provided task to generate catalog (#30)
  .gitignore
  .tekton/catalog-4-12-pull-request.yaml
  .tekton/catalog-4-12-push.yaml
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-13-push.yaml
  .tekton/catalog-4-14-pull-request.yaml
  .tekton/catalog-4-14-push.yaml
  .tekton/catalog-4-15-pull-request.yaml
  .tekton/catalog-4-15-push.yaml
  .tekton/catalog-4-16-pull-request.yaml
  .tekton/catalog-4-16-push.yaml
  .tekton/catalog-4-17-pull-request.yaml
  .tekton/catalog-4-17-push.yaml
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-18-push.yaml
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-19-push.yaml
  .tekton/catalog-4-20-pull-request.yaml
  .tekton/catalog-4-20-push.yaml
  .tekton/catalog-4-21-pull-request.yaml
  .tekton/catalog-4-21-push.yaml
  .tekton/multi-platform-fbc-image-build.yaml
  catalog/v4.12/README.md
  catalog/v4.13/README.md
  catalog/v4.14/README.md
  catalog/v4.15/README.md
  catalog/v4.16/README.md
  catalog/v4.17/README.md
  catalog/v4.18/README.md
  catalog/v4.19/README.md
  catalog/v4.20/README.md
  catalog/v4.21/README.md
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Add a clean up script to remove channels from config.yaml
  README.md
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  clean_config.py
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Add a clean up script to remove channels from config.yaml (#81)
  README.md
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  clean_config.py
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.5-1 (#84)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.5-2 (#85)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.4-1 (#87)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.2-3 (#90)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.5-3 (#91)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.4-2 (#93)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.4-3 (#97)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.2-5 (#99)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

release 1.17.5/1.18.5/1.19.2
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/snapshot-backup.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/snapshot-backup.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/snapshot-backup.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/snapshot-backup.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/snapshot-backup.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/snapshot-backup.yaml
  releases/v4.20/stage-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.21/snapshot-backup.yaml
Due: none

release 1.17.5/1.18.5/1.19.2 (#100)
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/snapshot-backup.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/snapshot-backup.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/snapshot-backup.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/snapshot-backup.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/snapshot-backup.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/snapshot-backup.yaml
  releases/v4.20/stage-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.21/snapshot-backup.yaml
Due: none

chore(release-candidate): update catalog for build v1.20.0-1 (#103)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Konflux dast integration test on catalog
  .tekton/integration-tests/catalog-dast-scan.yaml
  .tekton/steps/gather-cluster-diagnostics.yaml
  .tekton/steps/install-gitops-operator-subscription.yaml
  .tekton/steps/prepare-and-push-logs.yaml
  .tekton/steps/run-dast.yaml
  .tekton/steps/send-slack-message.yaml
Due: none

Change to trigger test
  catalog/v4.20/Dockerfile
Due: catalog-4-20-on-pull-request

WIP
  .tekton/integration-tests/catalog-dast-scan.yaml
Due: none

chore(release-candidate): update catalog for build v1.20.0-4 (#110)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release gitops 1.20.0
  releases/v4.12/prod-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
Due: none

Add 4.22 catalog
  .tekton/catalog-4-22-pull-request.yaml
  .tekton/catalog-4-22-push.yaml
  catalog/v4.22/Dockerfile
  catalog/v4.22/README.md
  catalog/v4.22/template.yaml
  config.yaml
  releases/v4.22/prod-release.yaml
  releases/v4.22/stage-release.yaml
Due: none

Add 4.22 catalog (#111)
  .tekton/catalog-4-22-pull-request.yaml
  .tekton/catalog-4-22-push.yaml
  catalog/v4.22/Dockerfile
  catalog/v4.22/README.md
  catalog/v4.22/template.yaml
  config.yaml
  releases/v4.22/prod-release.yaml
  releases/v4.22/stage-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.20.1-1 (#112)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.1-2 (#113)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release 4.22 catalog
  releases/v4.22/prod-release.yaml
Due: none

Release 1.20.1 catalog
  releases/v4.12/prod-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.20.2-1 (#117)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.2-2 (#119)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.5-2 (#120)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.3-1 (#121)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.5-3 (#122)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.3-2 (#123)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request
