Repository rh-gitops-midstream/catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Path conditions:
  catalog-4-14-on-push: ((((any of: catalog/v4.14/***) or (any of: .tekton/catalog-4-14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-16-on-push: ((((any of: catalog/v4.16/***) or (any of: .tekton/catalog-4-16-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-18-on-push: ((((any of: catalog/v4.18/***) or (any of: .tekton/catalog-4-18-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-20-on-pull-request: ((((any of: catalog/v4.20/***) or (any of: .tekton/catalog-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)

chore(release-candidate): update catalog for build v1.20.2-4 (#126)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.5-4 (#127)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.3-3 (#128)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.2-5 (#130)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Red Hat Konflux purge catalog-4-12
  .tekton/catalog-4-12-pull-request.yaml
  .tekton/catalog-4-12-push.yaml
Due: none

Red Hat Konflux purge catalog-4-13
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-13-push.yaml
Due: none

Drop support for 4.12 and 4.13 catalog
  .tekton/catalog-4-12-pull-request.yaml
  .tekton/catalog-4-12-push.yaml
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-13-push.yaml
  catalog/v4.12/Dockerfile
  catalog/v4.12/README.md
  catalog/v4.12/template.yaml
  catalog/v4.13/Dockerfile
  catalog/v4.13/README.md
  catalog/v4.13/template.yaml
  config.yaml
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
Due: none

Remove 1.17 channel from config.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release 1.20.2, 1.19.3 and 1.18.5
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

Drop support for 4.12 and 4.13 catalog (#133)
  .tekton/catalog-4-12-pull-request.yaml
  .tekton/catalog-4-12-push.yaml
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-13-push.yaml
  catalog/v4.12/Dockerfile
  catalog/v4.12/README.md
  catalog/v4.12/template.yaml
  catalog/v4.13/Dockerfile
  catalog/v4.13/README.md
  catalog/v4.13/template.yaml
  config.yaml
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
Due: none

Remove 1.17 channel from config.yaml (#134)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.3-2 (#137)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release 1.20.3
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

Konflux gitops integration test on catalog
  .tekton/integration-tests/pipelines/catalog-gitops-operator-e2e.yaml
  .tekton/stepactions/extract-image-content-sources.yaml
  .tekton/stepactions/resolve-openshift-version.yaml
  .tekton/tasks/build-ginkgo-test-image.yaml
  .tekton/test-image/Dockerfile
  .tekton/test-image/Dockerfile.base
  .tekton/test-image/Dockerfile.testsuites
  .tekton/test-image/config/skip-parallel.txt
  .tekton/test-image/config/skip-sequential.txt
  .tekton/test-image/config/skip-ui-e2e.txt
  .tekton/test-image/scripts/__pycache__/send-slack-message.cpython-313.pyc
  .tekton/test-image/scripts/collect-and-upload-logs.sh
  .tekton/test-image/scripts/collect-logs-sidecar.sh
  .tekton/test-image/scripts/get-installed-version.sh
  .tekton/test-image/scripts/go-cache.sh
  .tekton/test-image/scripts/install-operator.sh
  .tekton/test-image/scripts/lib/collect-pod-logs.sh
  .tekton/test-image/scripts/lib/load-skip-patterns.sh
  .tekton/test-image/scripts/lib/oras-helpers.sh
  .tekton/test-image/scripts/lib/wait-for-resources.sh
  .tekton/test-image/scripts/print-cluster-login-info.sh
  .tekton/test-image/scripts/run-and-save-logs.sh
  .tekton/test-image/scripts/run-e2e-tests.sh
  .tekton/test-image/scripts/run-parallel-tests.sh
  .tekton/test-image/scripts/run-rollouts-tests.sh
  .tekton/test-image/scripts/run-sequential-tests-shard1.sh
  .tekton/test-image/scripts/run-sequential-tests-shard2.sh
  .tekton/test-image/scripts/run-sequential-tests.sh
  .tekton/test-image/scripts/run-ui-e2e-tests.sh
  .tekton/test-image/scripts/send-slack-message.py
  .tekton/test-image/scripts/upgrade-operator.sh
  .tekton/test-image/scripts/verify-images.sh
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Test change to trigger CI
  catalog/v4.20/Dockerfile
Due: catalog-4-20-on-pull-request

WIP
  .tekton/stepactions/extract-image-content-sources.yaml
  .tekton/stepactions/resolve-openshift-version.yaml
Due: none

Argocd e2e tests
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/test-image/config/skip-argocd.txt
  .tekton/test-image/scripts/deploy-argocd-standalone.sh
  .tekton/test-image/scripts/extract-argocd-image-from-catalog.sh
  .tekton/test-image/scripts/run-argocd-e2e-tests.sh
Due: none

WIP
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/test-image/scripts/__pycache__/send-slack-message.cpython-313.pyc
  .tekton/test-image/scripts/run-argocd-e2e-tests.sh
  .tekton/test-image/scripts/send-slack-message.py
Due: none

WIP
  .tekton/test-image/Dockerfile.base
  .tekton/test-image/scripts/extract-argocd-image-from-catalog.sh
Due: none

WIP
  .tekton/test-image/.hadolint.yaml
  .tekton/test-image/scripts/extract-argocd-image-from-catalog.sh
Due: none

wip
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-e2e.yaml
  .tekton/test-image/scripts/__pycache__/send-slack-message.cpython-313.pyc
  .tekton/test-image/scripts/send-slack-message.py
Due: none

wip
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-e2e.yaml
Due: none

wip
  .tekton/test-image/scripts/extract-argocd-image-from-catalog.sh
Due: none

WIP
  .tekton/test-image/scripts/extract-argocd-image-from-catalog.sh
Due: none

WIP
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/test-image/scripts/extract-argocd-image-from-catalog.sh
Due: none

WIP
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
Due: none

WIP
  .tekton/test-image/scripts/deploy-argocd-standalone.sh
Due: none

wip
  .tekton/test-image/Dockerfile.testsuites
  .tekton/test-image/scripts/run-argocd-e2e-tests.sh
Due: none

wip
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/test-image/Dockerfile.testsuites
  .tekton/test-image/scripts/run-argocd-e2e-tests.sh
Due: none

Add debug logging to diagnose pre-built test detection
  .tekton/test-image/scripts/run-argocd-e2e-tests.sh
Due: none

Run extract-argocd-image in parallel with cluster provisioning
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
Due: none

Add comprehensive design doc for ArgoCD E2E test approaches
  .tekton/docs/argocd-e2e-test-approaches.md
Due: none
