Repository rh-gitops-midstream/catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Path conditions:
  catalog-4-14-on-push: ((((any of: catalog/v4.14/***) or (any of: .tekton/catalog-4-14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-16-on-push: ((((any of: catalog/v4.16/***) or (any of: .tekton/catalog-4-16-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-18-on-push: ((((any of: catalog/v4.18/***) or (any of: .tekton/catalog-4-18-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-20-on-pull-request: ((((any of: catalog/v4.20/***) or (any of: .tekton/catalog-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)

chore(deps): update konflux references
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(deps): update quay.io/konflux-ci/build-trusted-artifacts:latest docker digest to 15d7dc8
  .tekton/tasks/generate-catalog.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Latest bundle for 1.19.0
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

1.19.0-4 bundle
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.0-5 (#47)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Remove 1.19.0 bundle
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.2-1 (#49)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.3-2 (#51)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.16.5-2 (#52)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.2-2 (#55)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.3-3 (#56)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.16.5-3 (#57)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

release 1.16.5 / 1.17.3 / 1.18.2
  releases/v4.12/prod-release.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/stage-release.yaml
Due: none

release 1.16.5 / 1.17.3 / 1.18.2 (#58)
  releases/v4.12/prod-release.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/stage-release.yaml
Due: none

Build for all archs
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-14-pull-request.yaml
  .tekton/catalog-4-15-pull-request.yaml
  .tekton/catalog-4-16-pull-request.yaml
  .tekton/catalog-4-17-pull-request.yaml
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-20-pull-request.yaml
Due: catalog-4-20-on-pull-request

Revert "Build for all archs"
  .tekton/catalog-4-13-pull-request.yaml
  .tekton/catalog-4-14-pull-request.yaml
  .tekton/catalog-4-15-pull-request.yaml
  .tekton/catalog-4-16-pull-request.yaml
  .tekton/catalog-4-17-pull-request.yaml
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-20-pull-request.yaml
Due: catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.19.0-8 (#59)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Update release files with 1.19.0 catalog snapshot
  releases/v4.12/prod-release.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/stage-release.yaml
Due: none

New snapshots for release
  releases/v4.12/prod-release.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/stage-release.yaml
Due: none

Release 1.19.0
  releases/v4.12/prod-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.18.3-1 (#62)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.3-2 (#64)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.4-1 (#66)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.3-4 (#67)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.4-3 (#68)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.17.4-4 (#72)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.18.3-6 (#73)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

release 1.17.4 / 1.18.3
  releases/v4.12/prod-release.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/stage-release.yaml
Due: none

restore backup release snapshots
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/snapshot-backup.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/snapshot-backup.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/snapshot-backup.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/snapshot-backup.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/snapshot-backup.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/snapshot-backup.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/snapshot-backup.yaml
  releases/v4.20/stage-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.19.1-2 (#75)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

release 1.17.4 / 1.18.3 (#74)
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/snapshot-backup.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/snapshot-backup.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/snapshot-backup.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/snapshot-backup.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/snapshot-backup.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/snapshot-backup.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/snapshot-backup.yaml
  releases/v4.20/stage-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.19.1-3 (#76)
  catalog/v4.12/template.yaml
  catalog/v4.13/template.yaml
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Add rhel9 image in mirror set
  .tekton/images-mirror-set.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release 1.19.1
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/snapshot-backup.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/snapshot-backup.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/snapshot-backup.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/snapshot-backup.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/snapshot-backup.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/snapshot-backup.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/snapshot-backup.yaml
  releases/v4.20/stage-release.yaml
Due: none

Release 1.19.1 (#78)
  releases/v4.12/prod-release.yaml
  releases/v4.12/snapshot-backup.yaml
  releases/v4.12/stage-release.yaml
  releases/v4.13/prod-release.yaml
  releases/v4.13/snapshot-backup.yaml
  releases/v4.13/stage-release.yaml
  releases/v4.14/prod-release.yaml
  releases/v4.14/snapshot-backup.yaml
  releases/v4.14/stage-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.15/snapshot-backup.yaml
  releases/v4.15/stage-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.16/snapshot-backup.yaml
  releases/v4.16/stage-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.17/snapshot-backup.yaml
  releases/v4.17/stage-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.18/snapshot-backup.yaml
  releases/v4.18/stage-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.19/snapshot-backup.yaml
  releases/v4.19/stage-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.20/snapshot-backup.yaml
  releases/v4.20/stage-release.yaml
Due: none

Add 4.21 catalog
  catalog/v4.21/Dockerfile
  catalog/v4.21/README.md
  catalog/v4.21/template.yaml
  config.yaml
Due: none

Add ci files
  .tekton/catalog-4-21-pull-request.yaml
  .tekton/catalog-4-21-push.yaml
Due: none

feat: 4.21 catalog (#79)
  .tekton/catalog-4-21-pull-request.yaml
  .tekton/catalog-4-21-push.yaml
  catalog/v4.21/Dockerfile
  catalog/v4.21/README.md
  catalog/v4.21/template.yaml
  config.yaml
Due: none

Release v4.21 catalog
  releases/v4.21/prod-release.yaml
Due: none

Use konflux provided task to generate catalog
  .tekton/catalog-4-20-pull-request.yaml
  .tekton/multi-platform-fbc-image-build.yaml
  catalog/v4.12/openshift-gitops-operator/.gitignore
  catalog/v4.13/openshift-gitops-operator/.gitignore
  catalog/v4.14/openshift-gitops-operator/.gitignore
  catalog/v4.15/openshift-gitops-operator/.gitignore
  catalog/v4.16/openshift-gitops-operator/.gitignore
  catalog/v4.17/openshift-gitops-operator/.gitignore
  catalog/v4.18/openshift-gitops-operator/.gitignore
  catalog/v4.19/openshift-gitops-operator/.gitignore
  catalog/v4.20/openshift-gitops-operator/.gitignore
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request
