Repository rh-gitops-midstream/catalog: changes, and which Tekton pipelines are due for each by the changed paths.
All: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

catalog-4-14-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/catalog:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: catalog/v4.14
  ...

catalog-4-16-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/catalog:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: catalog/v4.16
  ...

catalog-4-18-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/catalog:{{revision}}
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: catalog/v4.18
  ...

catalog-4-20-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/rh-openshift-gitops-tenant/catalog:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile
  ...

test(argocd): skip TestSyncResourceBy* — CLI log format mismatch
  .tekton/test-image/config/skip-argocd.txt
Due: none

feat: extract check-gate to StepAction supporting multiple labels
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-dast.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-e2e.yaml
  .tekton/stepactions/check-gate-labels.yaml
Due: none

chore(release-candidate): update catalog for build v1.21.1-3 (#159)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

feat(scenarios): add channel-specific IntegrationTestScenarios for 1.19, 1.20, 1.21
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-19.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-20.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-21.yaml
Due: none

fix(gate): propagate StepAction result to TaskRun level
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-dast.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-e2e.yaml
Due: none

fix(gate): correct step result path to step-check prefix
  .tekton/integration-tests/pipelines/catalog-argocd-e2e.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-dast.yaml
  .tekton/integration-tests/pipelines/catalog-gitops-operator-e2e.yaml
Due: none

catalog: apply code review fixes across pipelines, scripts, and stepactions
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-19.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-20.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-21.yaml
  .tekton/stepactions/check-gate-labels.yaml
  .tekton/stepactions/extract-image-content-sources.yaml
  .tekton/stepactions/resolve-openshift-version.yaml
  .tekton/test-image/scripts/collect-build-metadata.sh
  .tekton/test-image/scripts/install-operator.sh
  .tekton/test-image/scripts/lib/wait-for-resources.sh
  .tekton/test-image/scripts/print-cluster-login-info.sh
  .tekton/test-image/scripts/publish-results.sh
  .tekton/test-image/scripts/render-results.py
  .tekton/test-image/scripts/run-argocd-e2e-tests.sh
  .tekton/test-image/scripts/run-e2e-tests.sh
  .tekton/test-image/scripts/run-sanity-tests.sh
  .tekton/test-image/scripts/run-sequential-tests-shard1.sh
  .tekton/test-image/scripts/run-sequential-tests-shard2.sh
  .tekton/test-image/scripts/run-ui-e2e-tests.sh
  .tekton/test-image/scripts/send-slack-message.py
  .tekton/test-image/scripts/upgrade-operator.sh
Due: none

scenarios: point operator tests at QA fork with downstream branches
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-19.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-20.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-21.yaml
  .tekton/integration-tests/scenarios/gitops-operator-tests.yaml
  .tekton/integration-tests/scenarios/gitops-sanity-tests.yaml
  .tekton/integration-tests/scenarios/gitops-ui-tests.yaml
Due: none

docs: add integration tests README covering pipeline structure and scripts
  .tekton/integration-tests/README.md
Due: none

fix(gate): split GATE_LABELS on commas before the read loop
  .tekton/stepactions/check-gate-labels.yaml
Due: none

fix(scenarios): remove ui-e2e scenarios for 1.19 and 1.20 channels
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-19.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-20.yaml
Due: none

fix(argocd-e2e): use server-side apply for ArgoCD manifests
  .tekton/test-image/scripts/deploy-argocd-standalone.sh
Due: none

feat(scenarios): add fips sequential test scenarios for 1.19/1.20/1.21
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-19.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-20.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-21.yaml
Due: none

Release 1.21.1, 1.20.5 & 1.19.5
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

Build on all arch for pr
  .tekton/catalog-4-14-pull-request.yaml
  .tekton/catalog-4-15-pull-request.yaml
  .tekton/catalog-4-16-pull-request.yaml
  .tekton/catalog-4-17-pull-request.yaml
  .tekton/catalog-4-18-pull-request.yaml
  .tekton/catalog-4-19-pull-request.yaml
  .tekton/catalog-4-20-pull-request.yaml
  .tekton/catalog-4-21-pull-request.yaml
  .tekton/catalog-4-22-pull-request.yaml
Due: catalog-4-20-on-pull-request

Add skipRange on GitOps z-stream releases 1.18, 1.19, 1.20 for disconnected upgrades
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Fix skipRange for gitops-1.19.1 and 1.19.2
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Add skipRange for 1.19.5 and 1.20.5
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Temporary 1.21.2, 1.20.6 & 1.19.5 catalog
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

remove(scenarios): drop sequential and argocd-e2e scenarios for 1.19/1.20/1.21
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-19.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-20.yaml
  .tekton/integration-tests/scenarios/gitops-channel-tests-1-21.yaml
Due: none

Add skipRange on GitOps Z-stream releases for disconnected upgrades (#147)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release catalogs with skip version fix for z-streams
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.19.6-2 (#164)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.6-2 (#165)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.21.2-2 (#166)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.21.2-4 (#167)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Update Dockerfile to trigger CI
  catalog/v4.20/Dockerfile
Due: catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.6-2 (#169)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release 1.19.6, 1.20.6 & 1.21.2
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.21.3-1 (#171)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Bump prefetch and buildah task to address conforma violation
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Correct task ref
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Release 1.21.3
  releases/v4.14/prod-release.yaml
  releases/v4.15/prod-release.yaml
  releases/v4.16/prod-release.yaml
  releases/v4.17/prod-release.yaml
  releases/v4.18/prod-release.yaml
  releases/v4.19/prod-release.yaml
  releases/v4.20/prod-release.yaml
  releases/v4.21/prod-release.yaml
  releases/v4.22/prod-release.yaml
Due: none

chore(release-candidate): update catalog for build v1.21.4-1 (#179)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.7-1 (#180)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

1.19.7 bundle
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.21.4-7 (#183)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Revert "chore(deps): update konflux references (#181)"
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Revert "chore(deps): update konflux references (#181)" (#184)
  .tekton/multi-platform-fbc-image-build.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

chore(release-candidate): update catalog for build v1.20.7-7 (#185)
  catalog/v4.14/template.yaml
  catalog/v4.15/template.yaml
  catalog/v4.16/template.yaml
  catalog/v4.17/template.yaml
  catalog/v4.18/template.yaml
  catalog/v4.19/template.yaml
  catalog/v4.20/template.yaml
  catalog/v4.21/template.yaml
  catalog/v4.22/template.yaml
  config.yaml
Due: catalog-4-14-on-push, catalog-4-16-on-push, catalog-4-18-on-push, catalog-4-20-on-pull-request

Path conditions:
  catalog-4-14-on-push: ((((any of: catalog/v4.14/***) or (any of: .tekton/catalog-4-14-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-16-on-push: ((((any of: catalog/v4.16/***) or (any of: .tekton/catalog-4-16-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-18-on-push: ((((any of: catalog/v4.18/***) or (any of: .tekton/catalog-4-18-push.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
  catalog-4-20-on-pull-request: ((((any of: catalog/v4.20/***) or (any of: .tekton/catalog-4-20-pull-request.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/multi-platform-fbc-image-build.yaml)) or (any of: .tekton/tasks/***)
